@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-8">
        <div class="about-me">
            <h3>Hello! My name is Nadia Belghozlane.</h3>
            I am currently a software development student at Eleven Fifty Academy and will be graduating in May 2021.
            Before Eleven Fifty, I attended Purdue University Northwest /Fort Wayne and received my Bachelor of Science degree
            in Communication Sciences and Disorders in December 2016. I planned on becoming a speech-language pathologist, but
            decided it was not the right fit and wanted to pursue a software development career instead.
            I immediately fell in love with coding after starting at Eleven Fifty. In the last six months,
            I’ve gained over 500 hours of coding experience and learning time. <br />
            <br />
            Some of my skills include: <br /> <br />
            • C#<br />
            • ASP.NET <br />
            • Web API <br />
            • Web MVC <br />
            • Console Applications <br />
            • HTML & CSS <br />
            • Bootstrap <br />
            • Git <br />
        </div>
    </div>
    <div class="col-md-3">
        <br />
        <br />
        <img src="~/Content/Assets/Nadia ChelbergFarm.jpg" alt="about-image" width="290" height="450" />
    </div>
</div>

<!-- Modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                I am currently a software development student at Eleven Fifty Academy and will be graduating in May 2021.
                Before Eleven Fifty, I attended Purdue University Northwest/Fort Wayne and received my Bachelor of Science degree
                in Communication Sciences and Disorders in December 2016. I planned on becoming a speech-language pathologist,  but
                decided it was not the right fit and wanted to pursue a software development career instead.
                I immediately fell in love with coding after starting at Eleven Fifty. In the last six months,
                I’ve gained over 500 hours of coding experience and learning time.
                <img src="~/Content/Assets/nadiaheadshot.jpg" alt="about-image" width="300" height="235" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->
