@{
    ViewBag.Title = "Home Page1";
}

<div class="home-page">
    <h1>Nadia A. Belghozlane</h1>
    <p class="sub-head">Did You Know? Nadia means "HOPE" in many Slavic languages!</p>

    <div class="link-icons">
        <a href="https://www.linkedin.com/in/nadia-belghozlane-b91137203" target="_blank"><img src="~/Content/Assets/linkedinicon.png" height="50" width="50" /></a>
        <a href="https://github.com/nbelghozlane" target="_blank"><img src="~/Content/Assets/iconfinder_icon-social-github_211904.png" height="50" width="50" /></a>
        <a href="https://pdfhost.io/v/iGZgKrAqd_SD_Resume_Nadia_Belghozlaneconvertedpdf.pdf" target="blank"><img src="~/Content/Assets/outline_description_black_36dp.png" height="50" width="50" /></a>
    </div>
</div>

<!--@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-8">
        <div class="about-me" id="about-me">
            <h3>Hello! My name is Nadia Belghozlane.</h3>
            I am currently a software development student at Eleven Fifty Academy and will be graduating in May 2021.
            Before Eleven Fifty, I attended Purdue University Northwest /Fort Wayne and received my Bachelor of Science degree
            in Communication Sciences and Disorders in December 2016. I planned on becoming a speech-language pathologist, but
            decided it was not the right fit and wanted to pursue a software development career instead.
            I immediately fell in love with coding after starting at Eleven Fifty. In the last six months,
            I’ve gained over 500 hours of coding experience and learning time. <br />
            <br />
            Some of my skills include: <br /> <br />
            • C#<br />
            • ASP.NET <br />
            • Web API <br />
            • Web MVC <br />
            • Console Applications <br />
            • HTML & CSS <br />
            • Bootstrap <br />
            • Git <br />
        </div>
    </div>
    <div class="col-md-3">
        <img src="~/Content/Assets/nadiaheadshot.jpg" alt="about-image" width="300" height="235" />
    </div>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Get To Know Me</h2>
        <p>
            I have a short, but strong history in coding.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Projects</h2>
        <p>Click here for my most recent projects!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->
