@{
    ViewBag.Title = "Home Page1";
}

<div class="jumbotron">
    <h1>Nadia A. Belghozlane</h1>
    <p class="lead">Did You Know? Nadia means "HOPE" in many Slavic languages!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get To Know Me</h2>
        <p>
            I have a short, but strong history in coding.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Projects</h2>
        <p>Click here for my most recent projects!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>