@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->


<div class="projects-board">
    <div class="row">
        <div class="col-md-4">
            <div class="panel-heading">
                <a href="https://github.com/nbelghozlane/GoldBadgeChallenges" class="button" target="_blank">Gold Badge Challenges</a>  
            </div>
            <div class="panel-body">
                <img src="~/Content/Assets/goldbadgechallengesimg.PNG" width="400" height="200" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel-heading">
                <a href="https://github.com/AmelMallemLouda/.Net-Blue-Badge-Project" class="button" target="_blank">Vacation Destination - API Group Project</a>
            </div>
            <div class="panel-body">
                <img src="~/Content/Assets/BlueBadgeProjectScreenshot.png" width="400" height="200" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel-heading">
                <a href="https://nbelghozlane.github.io/StaticStoreApp/" class="button" target="_blank">Static Store Front</a>
            </div>
            <div class="panel-body">
                <img src="~/Content/Assets/Xmas Shop new.png" alt="xmas-image" width="400" height="200" /> 
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel-heading">
                <a href="https://codepen.io/nbelghoz/pen/qBRwzvp" class="button" target="_blank">CSS/HTML Creature Assignment</a>
            </div>
            <div class="panel-body">
                <img src="~/Content/Assets/creaturecat.PNG" width="280" height="350" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel-heading">
                <a href="https://github.com/nbelghozlane/RedBadgeFinalProject" class="button" target="_blank">Cheers! Party/Event Planner - MVC App </a>
            </div>
            <div class="panel-body">
                <!--Add image when done!! Add azure/github pages link-->
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel-body">
                More to come soon!
            </div>
        </div>
    </div>
</div>


<!--<a href="https://github.com/AmelMallemLouda/.Net-Blue-Badge-Project" target="_blank">Vacation Destination - API Group Project</a>
<a href="https://github.com/nbelghozlane/RedBadgeFinalProject" target="_blank">Cheers! Party/Event Planner - MVC Application </a>
<a href="https://codepen.io/nbelghoz/pen/qBRwzvp" target="_blank">CSS/HTML Creature Assignment</a>
<a href="https://nbelghozlane.github.io/StaticStoreApp/" target="_blank">Static Store Front</a>-->

<!--
Static Layout Application
Creature Assignment
Business Challenges
ASP.NET API Group Project
Individual ASP.NET MVC Web Application
Landing/Header Section
Navbar
About Me
Projects Section
Contact Section
Footer-->
