@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="projects">
    <a href="https://github.com/nbelghozlane/GoldBadgeChallenges" target="_blank">Gold Badge Challenges</a>
    <a href="https://github.com/AmelMallemLouda/.Net-Blue-Badge-Project" target="_blank">Vacation Destination - API Group Project</a>
    <a href="https://github.com/nbelghozlane/RedBadgeFinalProject" target="_blank">Cheers! Party/Event Planner - MVC Application </a>
    <a href="https://codepen.io/nbelghoz/pen/qBRwzvp" target="_blank">CSS/HTML Creature Assignment</a>
    <a href="https://nbelghozlane.github.io/StaticStoreApp/" target="_blank">Static Store Front</a>

</div>
<p>Use this area to provide additional information.</p>


<!--Static Layout Application
Creature Assignment
Business Challenges
ASP.NET API Group Project
Individual ASP.NET MVC Web Application
Landing/Header Section
Navbar
About Me
Projects Section
Contact Section
Footer-->
