body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: lavender;*/
    background-image: url('Assets/pawel-czerwinski-Qiy4hr18aGs-unsplashcropped.jpg')
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.about-image {
    float: right;
    position: page;
    padding-bottom: 10px;
    /*top right bottom left*/
}

.about-me {
    text-align: left;
    text-align: justify;
    padding: 5px 50px 5px 50px;
    color: darkslategrey;
    font-size: 18px;
}

.row {
    border: 2px solid darkslategray;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: whitesmoke;
    box-shadow: 0 0 20px black;
    border-radius: 2em;
    padding-right: 58px;
    padding-left: 40px;
    overflow: hidden;
}

.home-page {
    border: 2px solid darkslategray;
    padding: 50px 50px 50px 50px;
    background-color: whitesmoke;
    border-radius: 2em;
    margin-top: 80px;
    margin-bottom: 50px;
    opacity: 0.9;
    box-shadow: 0 0 20px black;
}

.link-icons {
    text-align: center;
    padding-top: 20px;
    padding-left: 70px;
}

h1 {
    font-size: 75px;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.sub-head {
    text-align: center;
    font-size: 25px;
}

h2 {
    font-size: 75px;
    text-align: center;
    color: darkslategray;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

h3 {
    text-align: center;
    font-weight: bold;
}

.form-label {
    font-size: 20px;
}

.col-md-4 {
    text-align: center;
    font-size: 18px;
    border-radius: 1em;
    overflow: hidden;
    padding-top: 40px;
}

panel-body {
}


.contact-div {
    border: 2px solid darkslategray;
    padding: 50px 50px 50px 50px;
    background-color: whitesmoke;
    box-shadow: 0 0 20px black;
    border-radius: 2em;
    opacity: 0.83;
}

.projects-board {
    /*padding: 50px 10px 50px 10px;*/
}

.button {
    background-color: lightsteelblue;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    border-radius: 2em;
    transition-duration: 0.4s;
}

    .button:hover {
        color: white;
        background-color: dimgray;
    }

.footer {
    background-color: lightgray;
    padding-top: 25px;
    text-align: center;
    color: black;
}

.navbar {
    text-align: center;
}



.container {
}


.navbar-nav {
    float: none;
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 5px;
    display: table;
    table-layout: fixed;
    padding: 0px 50px 5px 50px;
    background-color: whitesmoke;
    font-size: 18px;
    border: 2px solid darkslategray;
    opacity: .70;
}
